.form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}

.input {
  padding: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.2em;
  font: inherit;
  line-height: 1em;
  letter-spacing: 0.01em;
}
.label:first-child {
  margin-right: 5em;
}
.label {
  color: rgb(123, 121, 121);
  text-shadow: rgba(174, 172, 172, 0.3) 8px 8px 12px,
    rgba(164, 162, 162, 0.06) -8px -8px 12px;
}
.input {
  height: 2em;
  padding: 0.5em;
  /* margin-bottom: 1em; */
  outline: none;
  border: none;
  border-radius: 0.5em;
  box-shadow: 8px 8px 12px rgba(143, 142, 142, 0.2),
    -8px -8px 12px rgba(27, 26, 26, 0.04);
}
.button {
  margin: 0 0 0 1em;
  font-size: 1.5em;
  width: 10em;
  padding: 0.2em 0;
  background: white;
  border-radius: 0.5em;
  outline: none;
  color: #2f2f2f;
  border: none;
  text-align: center;
  text-shadow: 8px 8px 12px rgba(254, 253, 253, 0.3),
    -8px -8px 12px rgba(12, 11, 11, 0.04);
  transition: 0.3s ease-in-out;
  box-shadow: -6px -6px 14px rgba(251, 249, 249, 0.8),
    -6px -6px 10px rgba(14, 13, 13, 0.2), 6px 6px 8px rgba(69, 68, 68, 0.075),
    6px 6px 10px rgba(5, 5, 5, 0.15);
  cursor: pointer;
}
.button:hover,
.button:focus {
  box-shadow: 0 0 4em rgb(27, 3, 243);
  border-color: transparent;
  color: white;
  background: #0420f7;
}
