.link {
  display: inline-block;
  text-decoration: none;
  padding: 0.8em;
  font-weight: 700;
  color: #2a363b;
}

.active {
  composes: link;
  color: #e84a5f;
}
.link:hover,
.link:focus {
  color: #e84a5f;
}
