.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em;
  border: 0.1em solid #2a2a2a;
  border-radius: 0.2em;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  margin-left: auto;
}
.button,
.buttonUpd {
  /* margin-left: auto; */
  margin-right: 2em;
  font-size: 1em;
  width: 10em;
  padding: 0.2em 0;
  background: white;
  border-radius: 0.2em;
  outline: none;
  color: #2f2f2f;
  border: none;
  text-align: center;
  text-shadow: 8px 8px 12px rgba(254, 253, 253, 0.3),
    -8px -8px 12px rgba(12, 11, 11, 0.04);
  transition: 0.3s ease-in-out;
  box-shadow: -6px -6px 14px rgba(251, 249, 249, 0.8),
    -6px -6px 10px rgba(14, 13, 13, 0.2), 6px 6px 8px rgba(69, 68, 68, 0.075),
    6px 6px 10px rgba(5, 5, 5, 0.15);
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 4em red;
  border-color: transparent;
  color: white;
  background: red;
}
.buttonUpd:hover,
.buttonUpd:focus {
  box-shadow: 0 0 4em rgb(113, 245, 5);
  border-color: transparent;
  background: rgb(246, 234, 5);
}
.phone {
  max-width: 1em;
  height: auto;
}
